* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

.global-nav {
  width: 100%;
  height: 3.75rem;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  background: #48CFAD;
  z-index: 9;
}
.global-nav .gn-content-wrap {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  height: 100%;
  position: relative;
}
.global-nav .gn-content-wrap .gn-left-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.global-nav .gn-content-wrap .logo-wrap {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 3.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.global-nav .gn-content-wrap .logo-wrap > div {
  display: inline-block;
}
.global-nav .gn-content-wrap .logo-wrap .logo-text {
  border-right: 1px solid #99e4d1;
  padding-right: 0.75rem;
  font-weight: 500;
  color: white;
}
.global-nav .gn-content-wrap .cat-drpdwn {
  color: white;
  border: 1px solid #91e2ce;
  background: #60d5b8;
  box-sizing: border-box;
  padding: 6px 18px;
  font-weight: 300;
  font-size: 0.9rem;
  margin-right: 2rem;
  cursor: pointer;
  -webkit-transition: 275ms;
          transition: 275ms;
  position: relative;
}
.global-nav .gn-content-wrap .cat-drpdwn:hover {
  background: none;
  color: #a1e6d5;
}
.global-nav .gn-content-wrap .information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.global-nav .gn-content-wrap .information > div {
  display: inline-block;
  margin-left: 1.75rem;
  font-weight: 300;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  -webkit-transition: 275ms;
          transition: 275ms;
}
.global-nav .gn-content-wrap .information > div:first-child {
  margin-left: 0rem;
}
.global-nav .gn-content-wrap .information > div:hover {
  color: #37BC9B;
}

main {
  width: 100%;
  position: relative;
}

.section-wrap {
  text-align: center;
}

.section-post {
  box-sizing: border-box;
  padding: 7px 21px;
  color: #afafaf;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 3rem 0;
  width: auto;
  display: inline-block;
  position: relative;
}
.section-post span {
  font-size: 1.5rem;
  color: #87dcc7;
  border-bottom: 1px dashed #48CFAD;
}

.card-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  margin-bottom: 10rem;
}
.card-content-wrapper .card-item {
  width: 26rem;
  margin: 0 0.75rem;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px 1px #eeeeee;
  position: relative;
  height: inherit;
  z-index: 99;
  background: white;
  border-radius: 6px;
  overflow: hidden;
}
.card-content-wrapper .card-item .card-info {
  padding: 2.5% 1.5%;
  margin: 0 3%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid whitesmoke;
}
.card-content-wrapper .card-item .card-info .category {
  font-size: 0.65rem;
  font-weight: 500;
  color: #c4c4c4;
}
.card-content-wrapper .card-item .card-info .date {
  font-size: 11px;
  font-weight: 500;
  color: #a0a0a0;
}
.card-content-wrapper .card-item .title-head {
  padding: 4px 16px;
  box-sizing: border-box;
  margin: 18px 3%;
  text-align: left;
}
.card-content-wrapper .card-item .title-head .title {
  font-size: 1.6rem;
  font-weight: 300;
  color: #646464;
}
.card-content-wrapper .card-item .news-img {
  margin-left: 2%;
  width: 96%;
  height: 28rem;
  background: #f0f0f0;
  box-sizing: border-box;
}
.card-content-wrapper .card-item .news-foot {
  width: 100%;
  background: white;
  padding: 22px 14px;
  box-sizing: border-box;
  position: relative;
  text-align: right;
}
.card-content-wrapper .card-item .news-foot .news-publish-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 32px;
  box-sizing: padding-box;
}
.card-content-wrapper .card-item .news-foot .news-publish-info .info-item {
  font-size: 0.8rem;
  color: #bebebe;
  font-weight: 300;
}
.card-content-wrapper .card-item .news-foot .news-publish-info .info-item i {
  font-size: 0.8rem;
}
.card-content-wrapper .card-item .news-foot .desc-container {
  width: 100%;
  padding: 6px 24px;
  box-sizing: border-box;
  text-align: justify;
  color: #787878;
  font-weight: 300;
}
