//output: index.html

head
	link(rel='stylesheet', href='home-main.css')
body
	nav.global-nav
		.gn-content-wrap
			.logo-wrap
				.logo-img
				.logo-text THE SPECTRUM
			.page-head
				.cat-item.active Everything
				.cat-item Campus News
				.cat-item Reviews
				.cat-item Bacolod Walks
				.cat-item Features
				.cat-item Comics
				.cat-item Photos
	nav.local-nav
		.ln-content-wrap
			.ln-content
				
						
	main.content
		.card-content-wrapper
			.card-item
				.news-img
				.news-foot
			.card-item
				.news-img
			.card-item
				.news-img
