//output: index.html

head
	link(rel='stylesheet', href='home-main.css')
body
	nav.global-nav
		.gn-content-wrap
			.gn-left-head
				.logo-wrap
					.logo-img
					.logo-text THE SPECTRUM
				.cat-drpdwn Browse Categories
			.gn-right-head
				.information
					.info-item History
					.info-item Current Staff
					.info-item Contact Us
	main.content
		.section-wrap
			.section-post FEATURED 
				span THIS MONTH
		.card-content-wrapper
			.card-item
				.card-info
					.category FEATURES
					.date May 9, 2016
				.title-head
					.title Poetry Reading: Cynosure of the Universe
				.news-img
				.news-foot
					//- .news-publish-info
					//- 	.info-item <i>Kyle Beatriz Decena</i>
					//- 	.info-item May 9, 2016
					.desc-container
						| AB Communication students showcased highlights of their theater plays and other activities during the opening program of their Bilib Week Celebration held at the University Forum earlier. AB Communication students showcased highlights of their theater plays and other activities.	
			.card-item
				.card-info
					.category HUMANS OF LA SALLE
					.date May 8, 2016
				.title-head
					.title Bilib Week 2016
				.news-img
				.news-foot
					.desc-container
						| AB Communication students showcased highlights of their theater plays and other activities during the opening program of their Bilib Week Celebration held at the University Forum earlier. AB Communication students showcased highlights of their theater plays and other activities.	
			.card-item
				.card-info
					.category UNIVERSITY GOVERNMENT BODY
					.date May 8, 2016
				.title-head
					.title The Spectrum Fellowship 2016 Official Shirt
				.news-img
				.news-foot
					.desc-container
						| Registration link: http://goo.gl/forms/f7fMvkBc0a	
