//output: index.html

head
	link(rel='stylesheet', href='home-main.css')
body
	nav.global-nav
		.gn-content-wrap
			.gn-left-head
				.logo-wrap
					.logo-img
					.logo-text THE SPECTRUM
				.cat-drpdwn Browse Categories
			.gn-right-head
				.information
					.info-item History
					.info-item Current Staff
					.info-item Contact Us
	main.content
		.section-post FEATURED THIS MONTH
		.card-content-wrapper
			.card-item
				.news-img
				.news-foot
					.title-head
						.category FEATURES
						.title Poetry Reading: Cynosure of the Universe
					.news-info
						.info-item Written by: Ken Gargar
						.info-item May 8, 2016
					.desc-container
						| Come by the Museo Negrense De La Salle tomorrow at 4:30pm for this year’s Poetry Reading: Cynosure of the Universe.
			.card-item
				.news-img
				.news-foot
					.title-head
						.category FEATURES
						.title Bilib Week 2016
					.news-info
						.info-item Written by: Owen Lystat
						.info-item May 9, 2016
					.desc-container
						| AB Communication students showcased highlights of their theater plays and other activities during the opening program of their Bilib Week Celebration held at the University Forum earlier. AB Communication students showcased highlights of their theater plays and other activities.	
			.card-item
				.news-img
				.news-foot
					.title-head
						.category FEATURES
						.title The Spectrum Fellowship 2016 Official Shirt
					.news-info
						.info-item Written by: Pixie Java
						.info-item May 9, 2016
					.desc-container
						| Registration link: http://goo.gl/forms/f7fMvkBc0a	
