//output: index.html

head
	link(rel='stylesheet', href='home-main.css')
body
	nav.global-nav
		.gn-content-wrap
			.logo-wrap
				.logo-img
				.logo-text THE SPECTRUM
			.category
				.cat-item.active Everything
				.cat-item University Government Body
				.cat-item Sports
				.cat-item Lasallian Speak
				.cat-item Humans of La Salle
				.cat-item Opinion
				.cat-item Reviews
				.cat-item Bacolod Walks
				.cat-item Features
				.cat-item Comics
	nav.local-nav
		.ln-content-wrap
			.ln-content
				.page-title Everything
			.filter
				.filter-item.active Recent
				.filter-item Featured
				.filter-item Controversial
	main.content
		.card-content-wrapper
			.card-item
				.news-head Poetry Reading: Cynosure of the Universe
				.news-img 
				.news-desc
					| Odio et pariatur quam molestiae optio asperiores ipsa. Itaque expedita dolor ratione ab. Quia fuga commodi earum voluptate iste labore pariatur blanditiis. 
					|<br><br>Quis voluptas sequi saepe officia aliquam sit ipsum sint. Olores quasi est ratione totam.
					|<br>Porro sint sed dolor officiis vero. Ullam alias ab aperiam placeat et. Ut occaecati sequi explicabo eos repudiandae accusamus.
			.card-item
				.news-head Second news title goes here
				
